* {
    scrollbar-color: #fffaf5 #3a3a3a;
    scrollbar-width: thin;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
